*, 
*::before, 
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Arial";
    src : url("../fonts/8665.ttf");
}
body {
    background-color: #434045;
    font-family: "Arial";
}
//header
.header__wrapper {
    z-index: 999;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #4A474B;
}
.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header__logo, .header__search {
    display: flex;
    align-items: center;
}
.logo__title {
    color: #E7C179;
    margin-left: 25px;
}
.magnifier {
    padding: 2px 6px 6px 2px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    cursor: pointer;
}
.search {
    width: 300px;
    height: 30px;
    padding: 0 0 5px 10px;
    background-color: transparent;
    border: 0;
    outline: none;
    font-family: Calibri;
    border-bottom: 2px solid #000;
    font-size: 20px;
    color: #E7C179;
    &::placeholder {
        color: rgba(231, 193, 121, 0.3);
    }
}
//main
.main {
    height: 100vh;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-container {
    margin: 0 !important;
}
.swiper-pagination {
    bottom: 10px !important; 
    z-index: 99;
}
.swiper-pagination-bullet {
    background: #F77F4C !important;
}
.slider {
    width: 650px !important;
    padding-right: 20px;
}
.slider__item_wrapper  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.slider__item   {
    width: 550px; height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #323034;
    border-radius: 5px;
}
.slider__img {
    border-radius: 5px;
}
.slider__text {
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 150%;
    width: 242px;
    font-weight: 300;
    font-family: Calibri;
}
.form {
    width: 300px;
}
.form__label {
    color: #E7C179;
    font-family: Calibri;
    font-size: 20px;
}
.form__input, .form__input_birth {
    font-family: Calibri;
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #000;
    color: #F77F4C;
    margin-bottom: 28px;
    &::placeholder {
        font-size: 20px;
        color:  rgba(231, 193, 121, 0.3);
    }
}
.birth-select {
    display: flex;
}
.form__input_birth {
    margin-top: 10px;
    width: 50px;
    background: #323034;
    color: #E7C179;
    border: 0;
    margin-right: 15px;
    padding-left: 5px;
    &::placeholder {
        color: #E7C179;
    }
}
.sex {
    display: flex;
}
.sex__group {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.form__input_radio {
    width: 16px; height: 16px;
    background: #F77F4C;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
}
.form__input_radio.active::before {
    content: '';
    display: block;
    width: 10px; height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #E7C179;
}
.form__name-group {
    display: flex;
    justify-content: space-between;
}
.name-group__wrapper {
    width: 150px;
}
.form__input_sm {
    width: 95%;
}
.reg__btn {
    width: 130px; height: 30px;
    background: #323034;
    border:0;
    font-family: Calibri;
    font-size: 20px;
    color: #F77F4C;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0 20px 0;
}
.form__link {
    font-size: 16px;
    color: #E7C179;
    font-family: Calibri;
    font-weight: 600;
}
//footer
.footer {
    z-index: 999;
    padding: 0 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #504D51;
}
.footer__content {
    max-width: 1200px;
    margin: 0 auto;
}
.footer__title {
    font-size: 16px;
    color: #E7C179;
    padding: 12px 0;
    font-family: Calibri;
    font-weight: 500;
}
//media quarities
@media (min-width: 768px) and (max-width: 1024px) {
    .main {
        flex-direction: column;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .header__wrapper {
        position: relative;
    }
    .header {
        flex-direction: column;
        justify-content: center;
    }
    .main {
        flex-direction: column;
    }
    .slider__item_wrapper, .slider__item,
    .slider, .swiper-container {
        width: 100% !important;
    }
    .slider__text {
        width: 50%;
    }
    .footer {
        position: relative;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .header__wrapper {
        position: relative;
    }
    .header {
        flex-direction: column;
        justify-content: center;
    }
    .header__search {
        width: 100%;
    }
    .main {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .slider__item_wrapper, .slider__item,
    .slider, .swiper-container {
        width: 100% !important;
    }
    .slider__item {
        flex-direction: column;
        padding: 10px;
    }
    .form__name-group {
        flex-direction: column;
    }
    .name-group__wrapper {
        width: 100%;
    }
    .slider__text {
        margin-top: 15px;
        width: 100%;
        font-size: 14px;

    }
    .footer {
        position: relative;
    }
}